<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Join and Follow Celebrities and Entrepreneurs</h1>
            <p class="lead mb-5">It's free and always will be. Sign up and enjoy a new social experience</p>
            
            <div class="d-grid gap-3 d-md-flex justify-content-center">
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="/signup">Sign Up</a>
                <a class="btn btn-outline-primary btn-lg px-4" href="/login">Login</a>
            </div>
        </div>
    </div>
</div>